examples/flows.json
[
    {
        "id": "98216ac4a67078ce",
        "type": "hmlandregistry-ukhpi",
        "z": "6266b8baa5c9b980",
        "name": "",
        "region": "",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "a9822338abae32b5",
                "6eef33633380d5d2"
            ]
        ]
    },
    {
        "id": "a41885c9d441769f",
        "type": "inject",
        "z": "6266b8baa5c9b980",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "region",
                "v": "topic",
                "vt": "msg"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "united-kingdom",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "98216ac4a67078ce"
            ]
        ]
    },
    {
        "id": "a9822338abae32b5",
        "type": "debug",
        "z": "6266b8baa5c9b980",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "6eef33633380d5d2",
        "type": "debug",
        "z": "6266b8baa5c9b980",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "ukhpi",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 260,
        "wires": []
    }
]